.form {
  display: flex;
  justify-content: center;

  margin-top: 20px;
}

.searchInput {
  height: 35px;
  width: 350px;

  padding-left: 10px;

  border: 1px solid #fff;
  border-right: none;

  transition: all 0.2s linear;
}

.searchInput:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.searchButton {
  width: 40px;

  border: 1px solid #fff;
  border-left: none;

  background-color: #e7e7e7;
  color: #333;

  cursor: pointer;

  transition: all 0.2s linear;
}

.searchButton svg {
  position: relative;
  top: 2px;
}

.searchButton:hover {
  background-color: #333;
  color: #e7e7e7;
}
