.list {
  margin: 0;
  padding: 20px;

  display: grid;
  grid-template:
    'a a a a '
    'b b b b';

  align-content: stretch;
  justify-content: space-around;

  list-style: none;
}

.item {
  margin-bottom: 25px;
  width: 250px;

  background-color: #333;
  text-align: center;

  text-decoration: none;

  border: 5px solid #fff;

  transition: all 0.25s linear;
}

.filmPoster {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.filmTitle {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 11px;

  border-top: 1px solid #c6c6c6;

  height: 50px;
  color: #fff;

  font-size: 1.15em;

  transition: all 0.2s linear;
}

.item:hover .filmTitle {
  color: #333;
}

.item:hover {
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
