.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #2a363b;
  font-size: 18px;
  position: relative;
}

.activeLink {
  composes: link;
  text-decoration: 3px underline #ec3a1a;
}
