.moviePageContainer {
  padding: 15px;
}

.buttonToBack {
  padding: 6px 10px;
  border-radius: 1px;
  color: #fff;
  background: #333;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);

  transition: all 0.25s linear;
  cursor: pointer;
}

.buttonToBack:hover,
.buttonToBack:focus {
  color: #333;
  background: #fff;

  outline: 1px solid #000;
}

.buttonToBack svg {
  position: relative;
  top: 2px;
  margin-right: 3px;
}

.additionalList {
  display: flex;
}

.additionalItem:not(:last-child) {
  margin-right: 10px;
}

.additionalItemLink {
  display: block;
  width: 100px;
  padding: 10px;
  color: #333;
  text-align: center;

  border: 1px solid #333;

  transition: all 0.25s linear;
}

.additionalItemLink:hover {
  background-color: #333;
  color: #fff;
}

.castItem {
  display: flex;
}

.photoCell {
  width: 70px;
  margin: 0;

  background-color: #cccccc;
}

.nameCell {
  width: 250px;
  margin: 0;

  background-color: #b4b4b4;
}

.characterCell {
  width: 250px;
  margin: 0;

  background-color: #8c8c8c;
}

.photoCell,
.nameCell,
.characterCell {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;

  border: 1px solid #fff;
}

.tableHead {
  padding: 5px;
}

.activeLink {
  background-color: black;
  color: #fff;
}

.reviewsContainer {
  display: flex;

  margin: 20px;
  border-bottom: 1px solid;
  padding-bottom: 20px;
}

.reviewsContainer:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.reviewsContainer p {
  margin: 0;
}

.reviewsContainerLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100px;
}

.reviewsContainerRight {
  padding-left: 30px;
}
